@model IEnumerable<vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<a asp-controller="Customers" asp-action="New" class="btn btn-primary" style="margin-bottom:.5em;">Add Customer</a>

@if(!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
<table class="table table-hover table-bordered" id="customers">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership</th>
            <th>Delete</th>
        </tr>
    </thead>  
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td><a asp-controller="Customers" asp-action="Edit" asp-route-id="@customer.Id">@customer.Name</a></td>
                <td>@customer.MembershipType.Description</td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>
                
            </tr>
        }       
    </tbody>
</table>
}

@section scripts
{
    <script>
        $(document).ready( function () {
            $("#customers .js-delete")
                .on("click", function(){
                    var button = $(this);
                    var confirmedDelete = confirm("Delete this customer?");
                    if (confirmedDelete){
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        })
                    }
                })
        });
    </script>
}